*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Poppins', sans-serif;

}

.navbar-light .navbar-nav .nav-link{
    color: white;
    font-size: 15px;
    
}
.navbar-light .navbar-brand{
    color: white;
    font-size: 30px;
}


ul li a:hover{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

ul li a:hover{
    text-transform: capitalize;
    color: blue;
    border-bottom: solid 1px;
}

body{
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position:  100%;
    background-repeat: no-repeat;
}

.background-page{
    background-image: url(../img/background_contato_login_cadastro.jpg);
}



/*btn-promo{
    float: right;
    float: right;
    position: relative;
    top: -38px;
    right: 10%;

    
    
   

 


  



btn-info{
    color: white;
    
    






footer {
   
    background-color: aliceblue;
    color:darkgray;
    text-align: center;
    font-size: 10px;
    
  
   
}





@media only screen and (max-width:600px){
    header{
        background-position: 20% 33%;
    }
    btn-entrar {
        max-width: 100%;
        margin-top: 10px; 
        margin-left:70%; 
        text-align: center;
        
       
       
    }
    
}

